@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer utilities {
  /* .bg-conic-gradient {
  } */

  .bg-conic-gradient::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black; /* Black background for the edges */
    z-index: -2; /* Place it below the gradient */
  }

  .bg-conic-gradient::after {
    opacity: 0;
    content: "";
    border-radius: 100%;
    position: absolute;
    top: 25%;
    left: 30%;
    width: 50dvh;
    height: 50dvh;
    background: conic-gradient(
      #ff7f50,
      /* Coral */ #ff69b4,
      /* Hot Pink */ #ff1493,
      /* Deep Pink */ #ff7f50 /* Coral */
    );
    z-index: -1; /* Place it above the black background */
  }
}

.animated-text {
  color: rgba(225, 225, 225, 0.01);
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

@keyframes animate {
  0%,
  100% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}
/* Custom scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 0.5rem; /* Width of the scrollbar */
  height: 1rem; /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(225, 225, 225, 0.1); /* Background of the scrollbar track */
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(225, 225, 225, 0.4);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}
@view-transition {
  navigation: auto;
}
